.gitignore
PORT=5000
MONGO_URI=mongodb+srv://natcharee121_db_user:Ft31WrmsON43tyma@cluster0.fi8vet9.mongodb.net/IndoorNavDB?retryWrites=true&w=majority

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
ALLOWED_ORIGINS=http://localhost:3000,https://your-vercel-app.vercel.app
